<!-- trading/templates/trading/base.html -->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}PokéTrade{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'trading:home' %}">Home</a> |
        <a href="{% url 'trading:profile' %}">Profile</a> |
        <a href="{% url 'trading:trade' %}">Trading</a> |
        <a href="{% url 'trading:leaderboard' %}">Leaderboard</a> |
        <a href="{% url 'trading:marketplace' %}">Marketplace</a> |

        {% if user.is_authenticated %}
            <form action="{% url 'trading:logout' %}" method="post">
        {% else %}
            <a href="{% url 'trading:login' %}">Login</a>
            <a href="{% url 'trading:signup' %}">Sign Up</a>
        {% endif %}
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
