<!DOCTYPE html>
<html>
<head>
    <title>PokeTrade - Home</title>
</head>
<body>
    <h1>Welcome to PokeTrade!</h1>
     <h2>Pokémon for Sale</h2>
    <ul>
        {% for sale in pokemons_for_sale %}
            <li>{{ sale.pokemon.name }} - Seller: {{ sale.seller.username }} - Price: {{ sale.price }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'trading:profile' %}">Profile</a>
    <a href="{% url 'trading:trade' %}">Trade</a>
    <a href="{% url 'trading:sale' %}">Marketplace</a>
    <a href="{% url 'trading:leaderboard' %}">Leaderboard</a>
    <a href="{% url 'trading:notifications' %}">Notifications</a>
</body>
</html>