{% extends 'trading/base.html' %}
{% load static %}
{% block content %}

<div class="marketplace-container">

  <!-- Page Title -->
  <h1 class="marketplace-heading">
  WELCOME TO <span class="poke-title bounce-in-once">POKÉTRADE</span><br>MARKET PLACE
  </h1>
  <!-- Top Row: Search + Balance -->
  <div class="marketplace-top">
    <form method="get" action="{% url 'trading:marketplace' %}" class="search-form">
      <input type="text" name="search" placeholder="Search" value="{{ request.GET.search }}">
      <button type="submit"><i class="fas fa-search"></i></button>
    </form>
    <p class="account-balance">ACCOUNT BALANCE: ${{ user_profile.balance }}</p>
  </div>

  <!-- Pokémon Cards -->
  <div class="marketplace-pokemon-grid">
    {% for pokemon in pokemon_list %}
    <div class="marketplace-card">
      <h2>{{ pokemon.name|upper }}</h2>
      <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}">
      {% block price %}
    {% if pokemon.id in sale_dict %}
    {% for sale in sales %}
      {% if sale.pokemon.id == pokemon.id %}
      <p><strong>PRICE:</strong> ${{ sale.price }}</p>
      {% endif %}
    {% endfor %}
      
      
    {% else %}
      <p><strong>PRICE:</strong> --</p>
    {% endif %}
  {% endblock %}

      <p><strong>TYPE:</strong> {{ pokemon.type }}</p>

      <form method="post" action="{% url 'trading:favorite_pokemon' pokemon.id %}">
        {% csrf_token %}
        <button class="favorite-btn" type="submit">
          {% if pokemon in user_profile.favorite_pokemon.all %}
            Unfavorite <span>💔</span>
          {% else %}
            Favorite <span>💙</span>
          {% endif %}
        </button>
    </form>

      <form method="post" action="{% url 'trading:buy_pokemon' pokemon.id %}">
        {% csrf_token %}
        <button class="buy-btn" type="submit"
          {% if pokemon.id not in sale_dict or user_profile.owned_pokemon.count >= 6 %}disabled{% endif %}>
            {% if pokemon.id in sale_dict %}
                {% if user_profile.owned_pokemon.count >= 6 %}
                  MAX REACHED
                {% else %}
                  BUY
                {% endif %}
            {% else %}
                NOT FOR SALE
            {% endif %}
        </button>
      </form>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}