{% extends 'trading/base.html' %}
{% block content %}
<head>
    <title>PokeTrade - Notifications</title>
</head>
<body>
    <h1>Your Notifications</h1>
    <ul>
        {% for note in notifications %}
    <li>
      {{ note.message }} - {{ note.timestamp }}
      <form method="post" action="{% url 'trading:handle_trade' note.trade.id %}">
        {% csrf_token %}
        <button name="action" value="accept">Accept</button>
        <button name="action" value="decline">Decline</button>
      </form>
    </li>
  {% empty %}
    <p>No notifications.</p>
  {% endfor %}
    </ul>
</body>
{% endblock %}