{% extends 'trading/base.html' %}
{% block content %}
    <h1>{{ request.user.username }}'s Profile</h1>

    {% if user_profile.profile_picture %}
        <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" style="width: 150px; height: 150px; border-radius: 50%;">
    {% else %}
        <p>No profile picture uploaded.</p>
    {% endif %}

   <h2>Owned Pokémon:</h2>
<ul>
  {% for pokemon in user_profile.owned_pokemon.all %}
    <li class="pokemon-card">
      <p>{{ pokemon.name }} (ID: {{ pokemon.id }})</p>
      <form method="post" action="{% url 'trading:remove_pokemon' pokemon.id %}">
  {% csrf_token %}
  <button type="submit">Remove {{ pokemon.name }}</button>
</form>
    </li>
  {% endfor %}
</ul>

    <p><strong>Bio:</strong> {{ user_profile.bio }}</p>

    {% if user_profile.favorite_pokemon %}
        <p><strong>Favorite Pokémon:</strong> {{ user_profile.favorite_pokemon.name }}</p>
    {% else %}
        <p>You haven't selected a favorite Pokémon yet.</p>
    {% endif %}
<a href="{% url 'trading:update_profile' %}">Edit Profile</a>
{% endblock %}