
{% block content %}
    <h1>Update Profile</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="bio">Bio:</label>
        <textarea name="bio" id="bio">{{ user_profile.bio }}</textarea><br><br>

        {% csrf_token %}
        <label for="profile_picture">Profile Picture:</label>
        <input type="file" name="profile_picture" id="profile_picture"><br><br>
        {% csrf_token %}
        <button type="submit">Update Profile</button>
    </form>
    <a href="{% url 'trading:profile' %}">Cancel</a>
{% endblock %}