{% extends 'trading/base.html' %}
{% block content %}
  <h1>{{ user_profile.user.username }}'s Profile</h1>

  {% if user_profile.profile_picture %}
    <img src="{{ user_profile.profile_picture.url }}" style="width: 150px; height: 150px; border-radius: 50%;">
  {% else %}
    <p>No profile picture.</p>
  {% endif %}

  <p><strong>Bio:</strong> {{ user_profile.bio }}</p>

  <h3>Owned Pokémon:</h3>
  <ul>
    {% for pokemon in user_profile.owned_pokemon.all %}
      <li>{{ pokemon.name }}</li>
    {% endfor %}
  </ul>

  <h2>Favorited Pokémon:</h2>
<ul>
    {% for fav in favorites %}
        <li>{{ fav.pokemon.name }}</li>
    {% empty %}
        <li>No favorites yet.</li>
    {% endfor %}
</ul>
{% endblock %}
